<!DOCTYPE html>

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1' charset="utf-8" />
    <title>yobot用户面板</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ant-design-vue@1.6.4/dist/antd.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ant-design-vue@1.6.4/dist/antd.min.css">
    <style>
        #components-layout-demo-top .logo {
            width: 120px;
            height: 31px;
            background: rgba(255, 255, 255, 0.2);
            margin: 0 24px 0 0;
            float: left;
        }

        #components-layout-demo-top .logout {
            float: right;
        }

        .content {
            padding: 0 50px;
        }

        #components-page-header-demo-responsive .content {
            display: flex;
        }

        #components-page-header-demo-responsive .ant-statistic-content {
            font-size: 20px;
            line-height: 28px;
        }

        @media (max-width: 576px) {
            #components-layout-demo-top .logo {
                width: 50px;
                height: 64px;
                background: rgba(255, 255, 255, 0.2);
                margin: 0 12px 0 12px;
                float: left;
            }

            .ant-layout-header {
                height: 64px;
                padding: 0 30px;
                line-height: 64px;
                background: #001529;
            }

            .content {
                padding: 0px;
            }

            #components-page-header-demo-responsive .content {
                display: block;
            }

            #components-page-header-demo-responsive .main {
                width: 100%;
                margin-bottom: 12px;
            }

            #components-page-header-demo-responsive .extra {
                width: 100%;
                margin-left: 0;
                text-align: left;
            }
        }
    </style>
</head>

<body>
    <div id="app">
        <template>
            <a-layout id="components-layout-demo-top" class="layout">
                <a-layout-header style="background-color: #fff;">
                    <div class="logo">
                        <img src="{{ url_for('yobot_static', filename='logo.png') }}"
                            style="width: 100%; height: auto;">
                    </div>
                    <a-menu mode="horizontal" :default-selected-keys="['1']" :style="{ lineHeight: '64px' }">
                        <a-menu-item key="1">
                            用户面板
                        </a-menu-item>
                        <a-menu-item key="2">
                            <a href="{{ url_for('yobot_reset_pwd') }}">
                                修改密码
                            </a>
                        </a-menu-item>
                        {% if user.authority_group < 10 -%}
                        <a-menu-item key="100">
                            <a href="{{ url_for('yobot_users_managing') }}">
                                用户管理
                            </a>
                        </a-menu-item>
                        <a-menu-item key="101">
                            <a href="{{ url_for('yobot_groups_managing') }}">
                                群管理
                            </a>
                        </a-menu-item>
                        <a-menu-item key="102">
                            <a href="{{ url_for('yobot_setting') }}">
                                设置
                            </a>
                        </a-menu-item>
                        {%- endif %}
                        <a-menu-item key="3" class="logout">
                            <a href="{{ url_for('yobot_logout') }}">
                                登出
                            </a>
                        </a-menu-item>
                    </a-menu>
                </a-layout-header>
                <a-layout-content class="content">
                    <div :style="{ background: '#fff', padding: '24px', minHeight: '280px', margin: '30px 0 0' }">
                        <template>
                            <div>
                                <a-page-header style="border: 1px solid rgb(235, 237, 240)" title="用户面板">
                                    {% if user.authority_group < 10 -%}
                                    <template slot="extra">
                                        <a href="{{ url_for('yobot_users_managing') }}">
                                            <a-button key="3">
                                                用户管理
                                            </a-button>
                                        </a>
                                        <a href="{{ url_for('yobot_groups_managing') }}">
                                            <a-button key="2">
                                                群管理
                                            </a-button>
                                        </a>
                                        <a href="{{ url_for('yobot_setting') }}">
                                            <a-button key="1" type="primary">
                                                bot设置
                                            </a-button>
                                        </a>
                                    </template>
                                    {%- endif %}
                                    <div>
                                        <div class="main">
                                            <a-descriptions size="small" :column="2">
                                                <a-descriptions-item label="用户名" v-if="!edit">
                                                    [[ nickname ]]
                                                    <a-icon type="edit" @click="showedit" />
                                                </a-descriptions-item>
                                                <a-descriptions-item label="用户名" v-else>
                                                    <a-input v-model="nickname" placeholder="新的昵称">
                                                        <a-icon slot="addonAfter" type="check" @click="edit_nickname" />
                                                    </a-input>
                                                </a-descriptions-item>
                                                <a-descriptions-item label="用户权限">
                                                    [[ trans_auth({{ user.authority_group }}) ]]
                                                </a-descriptions-item>
                                                <a-descriptions-item label="公会战所在群">
                                                    {{ user.clan_group_id }}
                                                </a-descriptions-item>
                                                <a-descriptions-item label="上次登录时间">
                                                    [[ from_ts({{ session.get('last_login_time') }}) ]]
                                                </a-descriptions-item>
                                                <a-descriptions-item label="上次登录IP">
                                                    {{ session.get('last_login_ipaddr') }}（[[ addr.join('') ]]）
                                                </a-descriptions-item>
                                            </a-descriptions>
                                        </div>
                                    </div>
                                </a-page-header>
                            </div>
                        </template>
                        <template>
                            <div style="margin-top: 20px;">
                                <a-card title="公会一览">
                                    {% if not clan_groups -%}
                                    <a-empty
                                        image="https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original"
                                        :image-style="{
                                            height: '60px',
                                        }">
                                        <span slot="description"> 暂无公会 </span>
                                        <span slot="description"> 请在你的公会群里发送“加入公会”来设置默认公会 </span>
                                    </a-empty>
                                    {%- else -%}
                                    <a-table :columns="columns" :data-source="{{ clan_groups }}">
                                        <span slot="group_name" slot-scope="text, record">
                                            <a :href="'../clan/' + record.group_id + '/'">[[ text ]]</a>
                                        </span>
                                    </a-table>
                                    {%- endif %}
                                </a-card>
                            </div>
                        </template>
                    </div>
                </a-layout-content>
                <a-layout-footer style="text-align: center">
                    <p>风间bot / かざまbot ©2020 Powered by 风间</p>
                    <p>From yobot <a href="https://github.com/yuudi/yobot">
                            <a-icon type="github" /></a> | <a href="{{ url_for('yobot_about') }}">关于yobot</a></p>
                </a-layout-footer>
            </a-layout>
        </template>
    </div>
</body>
<script>
    if (!Object.defineProperty) {
        alert('浏览器版本过低');
    }
    const columns = [
        {
            title: '群号',
            dataIndex: 'group_id',
            key: 'group_id',
        },
        {
            title: '公会名',
            dataIndex: 'group_name',
            key: 'group_name',
            scopedSlots: { customRender: 'group_name' },
        },
    ];
    new Vue({
        el: '#app',
        data: {
            addr: [],
            nickname: '{{ user.nickname }}',
            edit: false,
        },
        mounted() {
            var thisvue = this;
            axios.get('{{ url_for("yobot_api_iplocation", ip=session["last_login_ipaddr"]) }}').then(function (res) {
                thisvue.addr = res.data;
            }).catch(function (error) {
                console.log(error);
                thisvue.addr = ['未知'];
            });
        },
        methods: {
            from_ts: function (ts) {
                if (ts == 0) {
                    return '-';
                }
                var nd = new Date();
                nd.setTime(ts * 1000);
                return nd.toLocaleString('chinese', { hour12: false });
            },
            trans_auth: function (auth) {
                if (auth == 1)
                    return "主人"
                else if (auth == 10)
                    return "公会战管理员"
                else if (auth == 100)
                    return "成员"
                else
                    return "未知权限"
            },
            showedit: function () {
                this.edit = true;
            },
            edit_nickname: function (event) {
                var thisvue = this;
                axios.put('{{ url_for("yobot_user_info_nickname", qqid=user.qqid) }}', { nickname: thisvue.nickname }).then(function (res) {
                    thisvue.edit = false;
                }).catch(function (error) {
                    alert('改名失败');
                    console.log(error);
                })
            },
        },
        delimiters: ['[[', ']]'],
    })
</script>

</html>